{{kredit}}
<table>
  <tr>
    <th>
      <div class="listbox" *ngIf="files">
        <span><b>Albums</b></span>
        <br>
        <select [(ngModel)]="selectedAlbum" class="listbox" size=18 (ngModelChange)="onSelectA()">
          <option *ngFor="let a of files; let idx = index" [value]="idx">
            {{a.albumName}}
          </option>
        </select>
      </div>
    </th>
    <th>
      <div *ngIf="files">
        <img class="img" [src]="urlSanitize('data:image/png;base64, '+files[selectedAlbum].songs[0].songImage)" height="400" width="400"
        />
      </div>
    </th>
    <th>

      <div class="listbox" *ngIf="files">
        <span><b>Songs</b></span>
        <br>
        <select [(ngModel)]="selectedSong" class="listbox" size=18 autofocus>
          <option *ngFor="let s of files[selectedAlbum].songs; let idx = index" [value]="idx">
            {{s.songName}}
          </option>
        </select>
      </div>
    </th>
  </tr>
</table>
{{kredit}}
{{queue}}
<app-playing-song  [addToQueue]="newSong"></app-playing-song>