
  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }

  .listbox
  {
    background-color:#3c3232;
    color:#a19293;
    column-rule-color: #938383;
    width: 240px; 
    overflow:hidden; 
    border-width:10px;
    border-color:#3c3232;   
    outline: none;  
    margin-right: 0px;
    margin-left: 0px;
  }
  .img
  {
    border-radius: 25px;
    margin: 0px;
  }